doctype html
html(lang="en")
  head
    title= title
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css")
    link(rel='stylesheet', href='/stylesheets/katie.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
  body#about
    header
      include partials/_header
    .container-fluid
      div
        h1.text-center Vittles & Drinks
        p.text-center#summary Welcome to Vittles & Drinks. V&D is all about bringing Southern culture to the mass populace through food and libation.
      .row#tech
        h3.text-center Technologies Used:
        ul.text-center
          li HTML5
          li CSS3
          li Bootstrap 3
          li Node.js
          li Express.js
          li jQuery
          li Mongoose
          li Mongo
          li Passport
          li Jade
    .container-fluid.text-center#iconContainer
        .row#icons
            .col-xs-4.col-lg-1.col-lg-offset-1#html5
            .col-xs-4#css3
            .col-xs-4#bootstrap
            .col-xs-4#node
            .col-xs-4#jquery
            .col-xs-4#ex
            .col-xs-4#mongo
            .col-xs-4#mongoose
            .col-xs-4#passport
            .col-xs-4#jade
    .row#spaceHolder
    hr
    .row
      h3.text-center The Creators:
      .col-md-4.col-xs-12
        .wrap.text-center
          img(src="./img/KatieSlice.png")
          p.title Katie Owen
          p.description Katie Owen is a full-stack web developer from Atlanta. When she’s not coding, she’s exploring Atlanta on foot or by bike.
      .col-md-4.col-xs-12
        .wrap.text-center
          img(src="./img/Anthony_Slice.png")
          p.title Anthony Sims
          p.description Anthony Sims Jr. is a full-stack web dev and filmmaker. He lives with his wife and two dogs in Chattanooga, TN.
      .col-md-4.col-xs-12
        .wrap.text-center
          img(src="./img/StevenSlice.png")
          p.title Steven Bell
          p.description Steven Bell is an Atlanta based entrepreneur and Landscape Architect turned full stack Web Developer.
      footer
        include partials/_footer

