extends layout

doctype html
html(lang="en")
  head
    title= title
      include partials/_head
    body
      header
        include partials/_header
      main
        div
          h1 Welcome to our recipe blogging app.  It'll make you seem fancy (even though you're not)
      footer
        include partials/_footer
clear
