extends layout

block content
  .row
    .col-md-6.col-md-offset-3
      h2.form-header Sign Up
      form(method="post" action="/signup")
        .form-group.row
          .col-md-3
            label(for="email") Email
          .col-md-6
            input.form-control(type="text", name="email", id="email")
        .form-group.row
          .col-md-3
            label(for="email") Password
          .col-md-6
            input.form-control(type="password", name="password", id="password")
        .form-group.row
          .col-md-6.col-md-offset-3
            input.btn.btn-block.btn-default(type="submit")
