extends ../layout

block content
  div
    h2 Update #{pairing.food} & #{pairing.drink}
    form(method="post", action="/pairings")
      .form-group.row
        .col-md-2
          label(for="food") Vittles
        .col-md-4
          select.form-control(id="food", name="food")
            option(value='breakfast') BREAKFAST
            option(value='lunch') LUNCH
            option(value= 'supper') DINNER
      .form-group.row
        .col-md-2
          label(for="drink") Drink
        .col-md-4
          select.form-control(id="drink", name="drink")
            option(value= 'iced tea') HOT
            option(value= 'coke') COLD
            option(value= 'coldbeer') SPIRITS
      .form-group.row
        .col-md-4.col-md-offset-2
          input.btn.btn-block.btn-primary(type="submit")
