doctype html
html(lang="en")#userRecipes
  head
    title= title
    meta( http-equiv='X-UA-Compatible', content='IE=edge' )
    meta( name='viewport', content='width=device-width, initial-scale=1.0' )
    link(href='https://fonts.googleapis.com/css?family=Great+Vibes', rel='stylesheet', type='text/css')
    link(rel="stylesheet", href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css", integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7", crossorigin="anonymous")
    link(rel='stylesheet', href='/stylesheets/katie.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/turbo-cobra.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js", integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS", crossorigin="anonymous")
  body
    header
      include ../partials/_header
    .container-fluid
      - var entries = pairings
      h1.text-center Saved Pairings
      .row
        each value, index in pairings
          .col-md-4.col-xs-12.text-center
            .card
              .img-wrapper.generate
                img(src="img/power-greens-breakfast-skillet-11.jpg")
              h2(style="font-size: 2em;")
                | #{value.food}
                br 
                | with a #{value.drink}
              ul
                li
                  a(href="pairings/" + value._id + "/edit") Edit
                li
                  a(href="pairings/" + value._id) View
                li
                  //a(href="pairings/" + value._id) Delete
                  form(method="POST", action="/pairings/" + value._id + "?_method=DELETE")
                    //a(href="/pairings/" + value._id) Delete
                    button(class="pairing-delete" type="submit") Delete
              //p= index+1 + ". " + "vittles: " + value.food + "  potion: " + value.drank
        .col-md-4.col-xs-12.text-center
          .card
            .img-wrapper
              img(src="img/lunch.jpg")
            h2(style="font-size: 2em;")
              | Jalapeno Chicken Dumplins
              br 
              | with a Mello Yello
            ul
              li
                a(href="#") Edit
              li
                a(href="#") View
              li
                a(href="#") Delete
        .col-md-4.col-xs-12.text-center
          .card
            .img-wrapper
              img(src="img/spirits.jpg")
            h2(style="font-size: 2em;")
              | Pimento Cheese on Rye
              br 
              | with a Sweet Tea Vodka
            ul
              li
                a(href="#") Edit
              li
                a(href="#") View
              li
                a(href="#") Delete
    footer
      include ../partials/_footer
