extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      h2.form-header Choose Vittles and a Drink
      form(method="post", action="/pairings")
        .form-group.row
          .col-md-3
            label(for="food") Vittles
          .col-md-6
            select.form-control(id="food", name="food")
              option(value='breakfast') BREAKFAST
              option(value='lunch') LUNCH
              option(value= 'supper') DINNER
        .form-group.row
          .col-md-3
            label(for="drink") Drink
          .col-md-6
            select.form-control(id="drink", name="drink")
              option(value= 'coffee') HOT
              option(value= 'iced tea') COLD
              option(value= 'bourbon') SPIRITS
        .form-group.row
          .col-md-6.col-md-offset-3
            input.btn.btn-block.btn-default(type="submit")
