extends ../layout

block content
  .row
    .col-md-6.col-md-offset-3
      h2.form-header Choose Vittles and a Drink
      form(method="post", action="/pairings")
        .form-group.row
          .col-md-3
            label(for="food") Vittles
          .col-md-6
            select.form-control(id="food", name="food")
              option(value='sunnyside eggs with kale') BREAKFAST
              option(value='pimento cheese on rye') LUNCH
              option(value= 'jalapeno chicken and dumplins') DINNER
        .form-group.row
          .col-md-3
            label(for="drink") Drink
          .col-md-6
            select.form-control(id="drink", name="drink")
              option(value= 'hot toddy') HOT
              option(value= 'royal crown cola') COLD
              option(value= 'sweet tea vodka') SPIRITS
        .form-group.row
          .col-md-6.col-md-offset-3
            input.btn.btn-block.btn-default(type="submit")
