/*Default Style Changes to keep footer at bottom of all interior pages */
html, body {
  height: 100%;
}

h1 {
  margin: 5% 0;
}

h1, h2 {
  text-transform: capitalize;
}

.container-fluid {
  height: 100%;
}

/* About */
#about #summary {
  width: 40%;
  margin: 1% auto;
}

#about #tech ul {
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

#about #tech {
  margin: 5% auto;
}

#about footer {
  margin-top: 5%;
}

/* User */
#user-profile {
  margin-bottom: 5%;
}

#userRecipes body {
  background-color: transparent;
}

/*#userRecipes */.card {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #fff;
  margin: 2% auto;
  color: #000;
  /*height: 50vh;*/
  min-height: 40vh;
  padding-bottom: 2%;
  border: 1px solid #ccc;
}

#userRecipes h1 {
  margin: 5% auto;
}

#userRecipes h2 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
}

#userRecipes ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#userRecipes .card ul li {
  display: inline-block;
  padding: 2%;
}

#userRecipes .card ul li a, #userRecipes .card ul li a:visited {
  color: #000;
}

.pairing-delete {
  background-color: transparent;
  border: none;
}

.pairing-delete:hover {
  text-decoration: underline;
}

/*#userRecipes */.card .img-wrapper {
  height: 40vh;
  overflow: hidden;
  width: 100%;
}

/*#userRecipes */.card .img-wrapper img {
  width: 100%;
  height: auto;
}

.user-icon {
  color: #000;
  font-size: 2em;
  display: block;
  cursor: pointer;
  padding: 0;
  width: 100%;
}

.user-icon:hover {
  color: #000;
  text-decoration: none;
}

/* NAV */
.navbar-default {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
  color: #ccc;
}

.navbar-default .navbar-toggle {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #fff;
}


footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#about footer {
  position: relative;
  display: block;
  bottom: 0;
}

/*Steven Style*/

#icons {
  width: 70%;
  margin: 0 auto;
}

#bootstrap {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/bootstrap.png");
   background-size: cover;
}

#node {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/node.png");
   background-size: cover;
}

#html5 {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/html5.png");
   background-size: cover;
}

#css3 {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/css3.png");
   background-size: cover;
}

#jquery {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/jquery.png");
   background-size: cover;
}

#ex {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/express.png");
   background-size: cover;
}

#mongo {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/mongodb.png");
   background-size: cover;
}

#mongoose {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/mongoose.png");
   background-size: cover;
}

#passport {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/passport.png");
   background-size: cover;
}

#jade {
   height: 71px;
   width: 71px;
   background-repeat: no-repeat;
   background-image: url("../img/jade.png");
   background-size: cover;
}

#iconContainer {
  height: 20%;
}

#spaceHolder {
  height: 5%;
  width: 100%;
  clear: both;
}

#navImage{
  background-image: url("../img/VandDlogo.png");
  height: 50px;
  width: 280px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5% 0  0 10%;
}
