/*Default Style Changes to keep footer at bottom of all interior pages */
html, body {
  height: 100%;
}

.container-fluid {
  height: 100%;
}

/* About */
#about #summary {
  width: 40%;
  margin: 1% auto;
}

#about #tech ul {
  list-style-type: none;
  width: 40%;
  margin: 0 auto;
  padding: 0;
}

#about #tech {
  margin: 5% auto;
}

#about footer {
  margin-top: 5%;
}

/* User */
#user-profile {
  margin-bottom: 5%;
}

#userRecipes body {
  background-color: transparent;
}

#userRecipes .card {
  /*background-color: rgba(255, 255, 255, 0.7);*/
  background-color: #fff;
  margin: 2% auto;
  color: #000;
  /*height: 50vh;*/
  min-height: 40vh;
  padding-bottom: 2%;
  border: 1px solid #ccc;
}

#userRecipes h1 {
  margin: 5% auto;
}

#userRecipes h2 {
  font-family: 'Great Vibes', cursive;
  text-transform: capitalize;
}

#userRecipes ul {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

#userRecipes .card ul li {
  display: inline-block;
  padding: 2%;
}

#userRecipes .card ul li a, #userRecipes .card ul li a:visited {
  color: #000;
}

#userRecipes .img-wrapper {
  height: 40vh;
  overflow: hidden;
  width: 100%;
}

#userRecipes .img-wrapper img {
  width: 100%;
  height: auto;
}

/* NAV */
.navbar-default {
  background-color: #000;
  color: #fff;
}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:active {
  color: #ccc;
}

.navbar-default .navbar-toggle {
  color: #fff;
}

.navbar-default .navbar-toggle .icon-bar {
  color: #fff;
}





