extend ../layout

block content
  h1#user-profile.text-center Vittles & Drinks User Profile:
  .row.text-center
    .col-md-4.col-xs-12
      a(class="btn btn-default" href="/recipes/new") Find Recipe
    .col-md-4.col-xs-12
      a(class="btn btn-default" href="/recipes") My Recipes
    .col-md-4.col-xs-12
      a(class="btn btn-default" href="/users/edit") Edit Profile



