//- extends layout

//- block content

main
  div
    h3
      | My Recipes:
      script.
        #{recipe}

  //-      recipeName: String,
  //- lorem: String,
  //- ingredients: String,
  //- instructions: String,
  //- food: String,
  //- snack: String,
  //- cookingMethod: String,

