//- extends layout

//- block content

main
  div
    h3 INDEX. My Recipes: #{recipes}
    h3 recipes.food #{recipes.food}

  //-      recipeName: String,
  //- lorem: String,
  //- ingredients: String,
  //- instructions: String,
  //- food: String,
  //- snack: String,
  //- cookingMethod: String,


