doctype html
html(lang="en")
head

body.container-fluid
  header

  main
    div
      h3
        | Recipes:
        script.
          recipes.forEach(function(recipe)
        h4
          My recipes:
footer

