doctype html
htm(lang="en")
  head

  body
    header

    main
      div
        h2 Choose Vittles and a Drank
        form(method="post", action="/recipes")
          div
            label(for="food") Food
            select(id="food", name="food")
              option(value='breakfast') BREAKFAST
              option(value='lunch') LUNCH
              option(value= 'supper') SUPPER
              option(value= 'brunch') BRUNCH
              option(value= 'bar food') BAR FOOD
              option(value= 'sammiches') SAMMICHES
          div
            label(for="drank") Drank
            select(id="drank", name="drank")
              option(value= 'iced tea') TEA
              option(value= 'coke') COKE
              option(value='coldbeer') COLDBEER
              option(value='craft beer') CRAFT BEER
              option(value='cocktail') COCKTAIL
              option(value= 'coffee') COFFEE
              option(value= 'juice') JUICE
          div
            input(type="submit")
    footer
