extends ../layout

block content
  div
    h2 Choose Vittles and a Drink
    form(method="post", action="/recipes")
      .form-group.row
        .col-md-2
          label(for="food") Vittles
        .col-md-4
          select.form-control(id="food", name="food")
            option(value='breakfast') BREAKFAST
            option(value='lunch') LUNCH
            option(value= 'supper') SUPPER
            option(value= 'brunch') BRUNCH
            option(value= 'bar food') BAR FOOD
            option(value= 'sammiches') SAMMICHES
      .form-group.row
        .col-md-2
          label(for="drank") Drink
        .col-md-4
          select.form-control(id="drank", name="drank")
            option(value= 'iced tea') TEA
            option(value= 'coke') COKE
            option(value= 'coldbeer') COLDBEER
            option(value= 'craft beer') CRAFT BEER
            option(value= 'cocktail') COCKTAIL
            option(value= 'coffee') COFFEE
            option(value= 'juice') JUICE
      .form-group.row
        .col-md-4.col-md-offset-2
          input.btn.btn-block.btn-primary(type="submit")
